{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Les biens</h1>
        <p>Elle est super cette agence</p>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="flex row">
            {% for property in  properties %}
                <div class="col-md-4">
                    {% include 'property/_property.html.twig' %}
                </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}
