{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h2>Editer l'option</h2>
        {{  include('admin/option/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>
{% endblock %}
